#map {
  width: 100vw;
  height: 100vh;
  z-index: 1;
  width: 70%;
}
body {
  margin: 0;
}

#side {
  position: absolute;
  width: 30%;
  height: 100vh;
  z-index: 100;
  overflow-y: scroll;
  top: 0;
  right: 0;
  overflow-wrap: break-word;
}

.filter {
  padding: 10px 10px;
}

hr {
  width: 95%;
}
#description {
  padding: 10px 10px;
  line-height: 150%;
}
