#map {
  width: 100vw;
  height: 100vh;
  z-index: 1;
}
body {
  margin: 0;
}

form {
  position: relative;
  top: 10px;
  display: grid;
  grid-template-columns: 3fr 3fr 1fr;
  grid-gap: 10px;
  width: 90%;
  margin: 0 auto;
  z-index: 2;
  /* justify-content: space-between; */
}

#progress {
  position: absolute;
  bottom: 10px;
  width: 80%;
  z-index: 10;
  height: 50px;
  background: red;
  margin: 0 auto;
}

#progress div {
  background-color: blue;
  height: 50px;
  width: 0%;
  transition: width 0.4s;
}
.leaflet-control-mapquest-directions {
  padding-top: 25px;
  padding-left: 20px;
  max-height: 15%;
}

.leaflet-popup-content {
  width: 500px;
}

.leaflet-popup-content-wrapper {
  width: 550px;
  height: 140px;
}

.modal {
  display: none;
  position: relative;
  left: 0;
  top: 0;
  z-index: 1;
  overflow: auto;
  grid-template-columns: 3fr 3fr 3fr;
  grid-gap: 10px;
  width: 90%;
  margin: 0 auto;
}

.result-container{
  position:absolute;
  top: 300px;
  border: 3px solid #73AD;
  background: lightcyan;
  height: 20px;
  width: 15vw;
  z-index: 100;
  bottom: 10px;
}

.result-text {
  display: inline-block;
  float: left;
}

.result-answer {
  display: :inline-block;
  float: left;
}